# fly.toml app configuration file for your PHP project
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mi-sunat'
primary_region = 'scl'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
